{% extends 'profile/profile_content.html' %}
{% block nav %}
<li>
<ol class="breadcrumb">
    <li><a href="/">Система</a></li>
    <li class="active">Все консультации</li>
</ol>
</li>
{% endblock %}
{% block content_left %}
        <div class="panel panel-skin" ng-controller="Data">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ title }}
                </div>
            </div>
        <div class="panel-body">
            <table class="table table-hover table-striped" ng-init="getData('{% url 'jsonConsultation' %}')">
                <thead>
                <tr>
                    <th ng-click="sort('id')">
                        №
                        <span ng-show="orderProp=='id'"
                              ng-class="{'glyphicon glyphicon-triangle-bottom':!sortReverse,'glyphicon glyphicon-triangle-top':sortReverse}"></span>
                    </th>
                    <th ng-click="sort('date')">
                        Дата
                        <span ng-show="orderProp=='date'"
                              ng-class="{'glyphicon glyphicon-triangle-bottom':!sortReverse,'glyphicon glyphicon-triangle-top':sortReverse}"></span>
                    </th>
                    <th ng-click="sort('patient')">
                        Имя клиента
                        <span ng-show="orderProp=='patient'"
                              ng-class="{'glyphicon glyphicon-triangle-bottom':!sortReverse,'glyphicon glyphicon-triangle-top':sortReverse}"></span>
                    </th>
                    <th ng-click="sort('organization')">
                        Учреждение
                        <span ng-show="orderProp=='organization'"
                              ng-class="{'glyphicon glyphicon-triangle-bottom':!sortReverse,'glyphicon glyphicon-triangle-top':sortReverse}"></span>
                    </th>
                    <th ng-click="sort('sent_to')">
                        Направлен
                        <span ng-show="orderProp=='sent_to'"
                              ng-class="{'glyphicon glyphicon-triangle-bottom':!sortReverse,'glyphicon glyphicon-triangle-top':sortReverse}"></span>
                    </th>
                </tr>
                </thead>
                {% verbatim %}
                <tr ng-repeat="consultation in data | orderBy:orderProp:sortReverse | filter: query">
                    <td><a href="{{ consultation.id }}">{{ consultation.id }}</a></td>
                    <td>{{ consultation.date }}</td>
                    <td>{{ consultation.patient }} (ID: {{ consultation.patient_id }})</td>
                    <td>{{ consultation.organization }}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="sent in consultation.sent_to">{{ sent }}</li>
                            <li ng-if="consultation.sent_to_text">{{ consultation.sent_to_text }}</li>
                        </ul>
                    </td>
                </tr>
                {% endverbatim %}
            </table>
        </div>
    </div>
{% endblock %}