<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'map' %}">
                <div class="well withbtn">
                    <h6 class="text-center"><span>Система комплексной реабилитации наркозависимых в Санкт-Петербурге</span></h6>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'home' %}">
                <div class="well withbtn">
                    <h6 class="text-center"><span>Учебно-методический отдел по социальной реабилитации и ресоциализации</span></h6>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'form' %}">
                <div class="well withbtn">
                    <h6 class="text-center"><span>Электронная система перенаправления клиентов</span></h6>
                </div>
            </a>
        </div>
    </div>
</div>