<div class="collapsing">
    <modal cls='modal-lg' title="Версия для слабовидящих" visible="showSpecial">
        <div class="row">
            <div class="col-md-12">
                <div class="vision_settings contentMenu">
                    <div>
                        <ul class="list-unstyled">
                            <li><b>Размер шрифта сайта:</b></li>
                            <li><input name="font_size[]" id="normal" checked="" type="radio"><label for="normal">Обычный</label></li>
                            <li><input name="font_size[]" id="large" type="radio"><label for="large">Большой</label></li>
                            <li><input name="font_size[]" id="huge" type="radio"><label for="huge">Очень большой</label></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="list-unstyled">
                            <li><b>Цвет фона сайта:</b></li>
                            <li><input name="bg[]" id="standart" checked="" type="radio"><label for="standart">Стандартная</label></li>
                            <li><input name="bg[]" id="white" checked="" type="radio"><label>Белая</label></li>
                            <li><input name="bg[]" id="black" type="radio"><label for="black">Черная</label></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="list-unstyled">
                            <li><b>Интервал между буквами:</b></li>
                            <li><input name="kern[]" id="normal" checked="" type="radio"><label for="kern_normal" class="kern_normal">Обычный</label></li>
                            <li><input name="kern[]" id="large" type="radio"><label for="kern_large">Большой</label></li>
                            <li><input name="kern[]" id="huge" type="radio"><label for="kern_huge" >Очень большой</label></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="list-unstyled">
                            <li><b>Озвучка заголовков:</b></li>
                            <li><input name="au[]" id="off" checked="" type="radio"><label for="off">Выключить</label></li>
                            <li><input name="au[]" id="on" type="radio"><label for="on">Включить</label></li>
                        </ul>
                    </div>
                </div>
                <button class="clear_vision btn btn-danger" data-dismiss="modal" ng-click="showSpecial=false;">
                    Cброс
                </button>
                <button class="btn btn-success pull-right" data-dismiss="modal" ng-click="showSpecial=false;">
                    Готово
                </button>
            </div>
        </div>
    </modal>
</div>

