{% extends 'profile/profile_content.html' %}
{% load i18n %}
{% block nav%}
    <li>
        <ol class="breadcrumb">
            <li><a href="/">Система</a></li>
            <li сlass="active">Личные сообщения</li>
        </ol>
    </li>
{% endblock %}

{% block content_left %}

    <div class="panel panel-skin">
        <div class="panel-heading">
            <div class="panel-title">
                {% trans "Inbox" %}

                 <a class="btn btn-sm btn-danger pull-right"
                          href="{% url 'messages_compose' %}" )>
                        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                    </a>
            </div>
        </div>
        <div class="panel-body">
            {% if message_list %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans "Sender" %}</th>
                        <th>{% trans "Subject" %}</th>
                        <th>{% trans "Received" %}</th>
                        <th>{% trans "Action" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in message_list %}
                        <tr>
                            <td>{{ message.sender }}</td>
                            <td>
                                {% if message.new %}<strong>{% endif %}
                                {% if message.replied %}<em>{% endif %}
                                <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                                {% if message.replied %}</em>{% endif %}
                                {% if message.new %}</strong>{% endif %}</td>
                            <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
                            <td><a href="{% url 'messages_delete' message.id %}">{% trans "delete" %}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{% trans "No messages." %}</p>

            {% endif %}
        </div>
    </div>
{% endblock %}