{% extends 'profile/profile_content.html' %}
{% load i18n bootstrap3 %}
{% block nav %}
    <li>
        <ol class="breadcrumb">
            <li><a href="/">Система</a></li>
            <li сlass="active">Личные сообщения</li>
        </ol>
    </li>
{% endblock %}

{% block content_left %}

    <div class="panel panel-skin">
        <div class="panel-heading">
            <div class="panel-title">
                {% trans "View Message" %}
            </div>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-8">
                    <dd>Прислал(а) {{ message.sender }}</dd>
                </div>
                <div class="col-md-4">
                    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</dd>
                </div>
                <div class="col-md-12">
                    <dd><strong>{{ message.subject }}</strong></dd>
                </div>
                <div class="col-md-12"><br/><br/>
                    {{ message.body|linebreaksbr }}<br/><br/>

                    {% ifequal message.recipient.pk user.pk %}
                        <a class="btn btn-green" href="{% url 'messages_reply' message.id %}">{% trans "Reply" %}</a>
                    {% endifequal %}
                    <a class="btn btn-danger pull-right" href="{% url 'messages_delete' message.id %}">{% trans "Delete" %}</a>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
