{% load qr_tags %}
<html>
<head>
    <link rel="stylesheet" href="{{STATIC_URL}}bower_components/bootstrap/dist/css/bootstrap.css">
<style>
    @font-face {
        font-family: Verdana;
        src: url(/media/fonts/Verdana.ttf);
    }

    /*Жирный шрифт*/
    @font-face {
        font-family: Verdana;
        src: url(/media/fonts/Verdana_Bold.ttf);
    font-weight: bold;
    }
    @page {
        size: a4 portrait;
        @frame content_frame {          /* Content Frame */
            padding: 30px;
        }
    }
    body {
        font-family: Verdana;
        font-size: 8px;
        }

</style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<div>
    <table>
        <tr>
            <td width="15%" align="center"><img src="/media/img/gerb.png"></td>
            <td width="70%" align="center">
                <p>Комитет по социальной политике Санкт-Петербурга</p>
                <p>Санкт-Петербургское государственное бюджетное учреждение
                    «Городской информационно-методический центр „Семья“»</p>
            </td>
            <td width="15%" align="center">{% qr_from_text object.get_full_url  120 %}</td>
        </tr>
    </table>
    <h1 align="center">Сертификат<br><small>на прохождение социальной реабилитации
    и ресоциализации в 2015 году</small></h1>
    <p align="center">Серийный номер: СР-{{ object.id }}</p>
    <h2 align="center">Выдан: {{ object.patient.name }}</h2>

    <table>
        <tr>
            <td width="38%">Продолжительность периода социальной реабилитации и ресоциализации</td>
            <td width="12%">30 дней</td>
            <td width="15%">Поставщик услуг</td>
            <td width="35%">{{ object.social_service.org }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td>Продолжительность периода постреабилитационного сопровождения в рамках индивидуальной программы реабилитации</td>
            <td>55 дней</td>
            <td>Адрес организации</td>
            <td>{{ object.social_service.org.address }}</td>
        </tr>
        <tr>
            <td></td><td></td>
            <td>Адрес реабилитационного центра</td>
            <td>{{ object.social_service.address }}</td>
        </tr>
    </table>

    <br>

    <table>
        <tr>
            <td  width="55%">
            СПб ГБУ «Городской информационно-методический центр „Семья“»<br>
            Санкт-Петербург, ул. Садовая, дом 55-57, литер А
            </td>
            <td width="5%"></td>
            <td width="40%">
            Сертификат получен, с условиями ознакомлен<br><br>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td>
                Директор ________________ Лапан В.Б.<br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspДата ________________ М.П.
            </td>
            <td>

            </td>
            <td>
                Клиент ________________________________<center>(Фамилия, имя, отчество клиента)</center><br><br>
            </td>
        </tr>
     </table>

    <br>

    <table>
        <tr>
            <td width="40%">{{ object.social_service }}</td>
            <td width="60%">Медицинские противопоказания к прохождению курса социальной реабилитации и ресоциализации отсутвуют</td>
        </tr>
        <tr></tr>
        <tr>
            <td></td>
            <td><table>
                <tr>
                    <td align="right">{{ object.social_service.chief_post }} </td><td width="40%">&nbsp___________________</td><td>{{ object.social_service.chief }}</td>
                </tr>
                <tr></tr>
                <tr>
                    <td align="right">Дата </td><td>&nbsp___________________</td><td> М.П.</td>
                </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
 {% for step in object.get_steps reversed %}
     <hr>
     <table>
     <tr>
         <td width="15%" align="center">{% qr_from_text step.get_full_close_url  90 %}</td>
         <td width="45%" align="left">
             <h4>{{ step.get_step_display }}</h4>
             <p>{{ object.social_service }}</p>
             <p>{{ object.social_service.address }}</p>
             <p>Код погашения: {{ step.code }}</p>
         </td>
         <td width="40%" align="center">
             <table>
                <tr>
                    <td width="20%" align="right">{{ object.social_service.chief_post }} </td><td width="40%">&nbsp______________</td><td width="50%">{{ object.social_service.chief }}</td>
                </tr>
                <tr>
                    <td align="right"><br>Дата </td><td><br>&nbsp______________</td><td> М.П.</td>
                </tr>
                <tr>
                    <td align="right"><br>Клиент </td><td><br>&nbsp______________</td><td> </td>
                </tr>
                 <tr>
                    <td align="right"><br>Дата </td><td><br>&nbsp______________</td><td> М.П.</td>
                </tr>
            </table>
         </td>
     </tr>
     </table>
 {% endfor %}

<table>
    <tr>
        <td>
            <h1> Памятка поступающему в {{ object.social_service }} </h1>
            <br>
            <b>После проведения первичного собеседования:</b>
            <br>
            <i>До назначенной даты поступления рекомендуется посещать собрания групп «Анонимных Алкоголиков»</i>
            <br>

            <ul>
                <li>Дату заезда назначает секретарь</li>
                <li>Запись на очередь по телефону {{ object.social_service.phone }} (с понедельника
                    по пятницу с 11.00 до 13.00 и c 14.00 до 16.00).</li>
                <li>За 2 дня до назначенной даты поступления обязательно
                    подтвердить свое решение о согласии на реабилитацию в РЦ по
                    телефону!</li>
            </ul>
            <p align="center"><b><i>Срок трезвости не менее 10 дней</i></b></p>
            <br><b>Для поступления необходимо иметь следующие документы:</b>
            <br>
            <br>- Паспорт, страховой медицинский полис.
            <br>- Медицинские справки:
            <br>
            <br>1) флюорография (срок годности 1 год)
            <br>2) общий анализ крови;
            <br>3) общий анализ мочи;
            <br>4) анализ крови на RW, ВИЧ, гепатит А,В,С;
            <br>5) анализ кала на дизгруппу;
            <br>6) заключение по ЭКГ - для клиентов старше 40 лет;
            <br>7) заключение терапевта (по результатам анализов);
            При хронических заболеваниях - выписка врача с диагнозом и
            рекомендациями (выписанные врачом медикаменты привезти с
            собой)
            <br>8) справка из СЭС об эпидокружении за 24 часа до приезда в РЦ;
            <br>9) справки со 2) по 6) действительны 1 месяц;
            <br>10) два теста-полоски на алкоголь
            <br>
            <br><b>При поступлении с собой НУЖНО взять:</b>
            <br>
            <br> - тетрадь общую (3шт.), ручки, карандаши;
            <br> - туалетные принадлежности (зубную щетку и пасту, мыло, мочалку, шампунь, полотенце);
        </td>
        <td>
            <br> - сменную обувь (тапочки);
            <br>- удобную для учебных занятий одежду (спортивный костюм);
            <br>
            <br>ПО ВОЗМОЖНОСТИ: две банки тушенки.
            <br>
            <br><b>А также можно взять:</b>
            <br>печенье, чай, кофе (только строго «3 в одном»!), сахар, варенье,
                сигареты (если курите); стиральный порошок, моющие-чистящие
                средства, туалетную бумагу; чайную чашку с ложкой.
            <br>
            <br><b>Запрещено брать с собой:</b>
            <br>
            <br>1) книги, журналы, газеты;
            <br>2) кипятильники, радиоприемники и т.п.;
            <br>3) лекарства, не назначенные врачом и не указанные в
                    заключении терапевта;
            <br>4) скоропортящиеся продукты;
            <br><b>5) МОБИЛЬНЫЙ ТЕЛЕФОН, ФОТО- И ВИДЕОАППАРАТУРУ,
                    ЭЛЕКТРОННЫЕ КНИГИ, НОУТБУКИ, ПЛАНШЕТЫ И ПРОЧИЕ НОСИТЕЛИ
                    ИНФОРМАЦИИ</b>
            <br>
            <i>Сообщаем, что, к сожалению, мы не располагаем возможностями
            размещения на территории центра личного автотранспорта
            реабилитантов.</i>
            <br>
            <br><b>Будущему реабилитанту из Санкт-Петербурга или ближайших пригородов для поступления в Центр необходимо:</b>
            <br>
            <br>1. Пройти собеседование в Центре в любую пятницу, начало в 11
часов.
            <br>2. Сдать анализы и получить необходимые для поступления
справки
            <br>3. Уточнить дату заезда по телефону: {{ object.social_service.phone }} (с
понедельника по пятницу с 11.00 до 13.00 и c 14.00 до 16.00).
            <br>4. Приехать на поступление в назначенное время.
Приём в центр проводится ежедневно, кроме воскресенья, в 10
часов в назначенную дату. До назначенной даты поступления
рекомендуется посещать собрания групп «Анонимных
Алкоголиков».
            <br>
            <br>За два дня до назначенной даты обязательно подтвердить своё
решение о прибытии на реабилитацию по телефону: {{ object.social_service.phone }}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </td>
    </tr>
</table>
<hr>
</body>
</html>
