{% load qr_tags %}
<html>
<head>
    <style>
        @font-face {
            font-family: Verdana;
            src: url(/media/fonts/Verdana.ttf);
        }
        /*Жирный шрифт*/
        @font-face {
            font-family: Verdana;
            src: url(/media/fonts/Verdana_Bold.ttf);
            font-weight: bold;
        }
        @page {
            size: a4 portrait;
            @frame content_frame {          /* Content Frame */
        padding: 50px;
        }
        }
        body {
            font-family: Verdana;
            font-size: 10px;
        }
        .blue{
            background:#0489B1;
            padding: 3px;
            color:white;
        }
        .so_blue{
            background: #00FFFF;
            color: black;
        }
        table {
            border: 2px solid white;
        }
        ul{
            padding: 1px;
            margin-left: 0px;
        }
        li {
        padding-left: 0;
        list-style-type: none;
       }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<h1 align="center">Журнал учета консультации</h1>
 <table class="blue">
    <tr>
        <td width="70%">Порядковый номер консультации в системе:</td>
        <td width="30%"><div class="so_blue">{{ object.id }}</div></td>
    </tr>
    <tr>
        <td width="70%">
            Порядковый номер консультации в организации:
        </td>
        <td width="30%"><div class="so_blue">{{ object.id_in_organization }}</div></td>
    </tr>
</table>
<table class="blue">
    <tr>
        <td>
                Сведения о специалистах, проводишвих консультацию:

        </td>
    </tr>
    <tr>
        <td>
            <div class="so_blue">
            {{ object.specialist | safe }}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Сведения о клиенте
        </td>
    </tr>
</table>
<table class="blue">
    <tr>
        <td width="40%">
            ФИО клиента:
        </td>
        <td>
            <div class="so_blue">
            {{ object.patient.name }}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Пол клиента:
        </td>
        <td>
            <div class="so_blue">
            {{ object.patient.get_sex_display }}
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Возраст/Дата рождения:
        </td>
        <td>
            <div class="so_blue">
            {{ object.patient.age }} {% if object.patient.birth_date %} ({{ object.patient.birth_date }}){% endif %}
            </div>
        </td>
    </tr>
</table>
<table class="blue">
    <tr>
        <td>Краткое описание содержания обращения:</td>
    </tr>
    <tr>
        <td>
            <div class="so_blue">{{ object.treatment }}</div></td>
    </tr>
</table>
<table class="blue">
    <tr>
        <td>Первичное обращение с проблемой:</td>
        <td> <div class="so_blue">{% if object.primary_treatment %} Да {% else %} Нет {% endif %}</div></td>
    </tr>
    <tr>
        <td>Первичное обращение в организацию:</td>
        <td> <div class="so_blue">{% if object.primary_treatment_org %} Да {% else %} Нет {% endif %}</div></td>
    </tr>
</table>
<table class="blue">
    <tr>
        <td>Краткое описание результатов консультации:</td>
    </tr>
    <tr>
        <td> <div class="so_blue">{{ object.result_info }}</div></td>
    </tr>
    </table>
    <table class="blue">
        <tr>
            <td valign="top">
                Предоставлена информация
            </td>
            <td valign="top" class="so_blue">
                <ul>
                    <li>
                    {% if object.additional_info_1 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО наличии вакансий/порядке обращения в службу занятости
                    </li>
                    <li>
                    {% if object.additional_info_2 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО порядке предоставления помощи ВИЧ-инфицированным
                    </li>
                    <li>
                    {% if object.additional_info_3 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО режиме и порядке работы групп взаимопомощи
                    </li>
                    <li>
                    {% if object.additional_info_4 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО порядке получения услуг по социальной реабилитации и ресоциализации
                    </li>
                    <li>
                    {% if object.additional_info_5 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО порядке получения социальных услуг
                    </li>
                    <li>
                    {% if object.additional_info_6 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО порядке получения медицинской помощи
                    </li>
                </ul>
            </td>

            <td valign="top" class="so_blue">
                <ul>
                    <li>
                    {% if object.additional_info_7 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО службах занятости населения
                    </li>
                    <li>
                    {% if object.additional_info_8 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО СПИД-центрах
                    </li>
                    <li>
                    {% if object.additional_info_9 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО группах взаимопомощи
                    </li>
                    <li>
                    {% if object.additional_info_10 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО реабилитационных центрах для лиц, отказавшихся от немедицинского потребления наркотиков
                    </li>
                    <li>
                    {% if object.additional_info_11 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО государственных учреждениях-поставщиках социальных услуг
                    </li>
                    <li>
                    {% if object.additional_info_12 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspО медицинских учреждениях наркологического профиля
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <table class="blue">
    <tr>
        <td>Иная информация:</td>
        <td colspan="2"> <div class="so_blue">{{ object.description }}</div></td>
    </tr>
    </table>
    <table class="blue">
    <tr>
        <td valign="top">
            Рекомендовано обратится к следующим специалистам:
        </td>
        <td valign="top" class="so_blue">
            <ul>
                <li>
                {% if object.specialist_1 %}
                    <img src="/media/img/square_select.png">
                {% else %}
                    <img src="/media/img/square_empty.png">
                {% endif %}
                    &nbspПсихологу
                </li>

                <li>
                {% if object.specialist_3 %}
                    <img src="/media/img/square_select.png">
                {% else %}
                    <img src="/media/img/square_empty.png">
                {% endif %}
                    &nbspВрачу-наркологу
                </li>
                <li>
                {% if object.specialist_5 %}
                    <img src="/media/img/square_select.png">
                {% else %}
                    <img src="/media/img/square_empty.png">
                {% endif %}
                    &nbspВрачу-иммунологу
                </li>
                <li>
                {% if object.specialist_7 %}
                    <img src="/media/img/square_select.png">
                {% else %}
                    <img src="/media/img/square_empty.png">
                {% endif %}
                    &nbspПсихотерапевту
                </li>
                {% if object.specialist_text %}
                    <li>{{ object.specialist_text }}</li>
                {% endif %}
            </ul>
        </div>
        </td>
        <td valign="top" class="so_blue">
                <ul>
                    <li>
                    {% if object.specialist_2 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspЮристу
                    </li>
                    <li>
                    {% if object.specialist_4 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspПедагогу</li>
                    <li>
                    {% if object.specialist_6 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspСпециалисту по работе с семьей
                    </li>
                    <li>
                    {% if object.specialist_8 %}
                        <img src="/media/img/square_select.png">
                    {% else %}
                        <img src="/media/img/square_empty.png">
                    {% endif %}
                        &nbspСпециалисту по социальной работе
                    </li>
                    {% if object.specialist_text %}
                        <li>{{ object.specialist_text }}</li>
                    {% endif %}
                </ul>
        </div>
        </td>
    </tr>
    </table>
    <table class="blue">
    <tr>
        <td valign="top">
            Направлен из:
        </td>
        <td valign="top" class="so_blue" colspan="2">
            <ul><li>
            {% if object.from_social_service or object.from_social_service_text%}
                {% if object.from_social_service %} {{ object.from_social_service }} {% else %} {{  object.from_social_service_text }} {% endif %}
                {% else %}
                <br>
            {% endif %}
            </li></ul>
        </td>
    </tr>
    <tr>
        <td valign="top">
            Направлен в:
        </td>
        <td valign="top" class="so_blue" colspan="2">
            {% if object.sent_to or object.sent_to_text %}
                                        <ul class="columns">
                                    {% for sent in object.sent_to %}
                                        <li>{{ sent.social_service.name }}</li>
                                    {% endfor %}
                                    {% if object.sent_to_text  %}
                                        <li>{{  object.sent_to_text }}</li>
                                        {% endif %}
                                    </ul>
           {% endif %}
        </td>
    </tr>
</table>
</body>
</html>
