{% extends 'profile/profile_content.html' %}

{% block nav%}
    <li>
        <ol class="breadcrumb">
            <li><a href="/">Система</a></li>
            <li><a href="{% url 'certificate' %}">Сертификаты</a></li>
            <li class="active">Выдать новый сертификат</li>
        </ol>
    </li>
{% endblock %}

{% block content_left %}
     <div class="panel panel-skin" ng-controller="Profile">
            <div class="panel-heading">
                <div class="panel-title">
                    Выдать сертификат
                </div>
            </div>
        <div class="panel-body" ng-controller="Data" >

           {% include 'wizard.html' %}

        </div>
{% endblock %}