{% extends 'profile/profile_content.html' %}

{% block nav%}
    <li>
        <ol class="breadcrumb">
            <li><a href="/">Система</a></li>
            <li><a href="#">Сертификаты</a></li>
            <li class="active">СР-{{ object.id }}</li>
        </ol>
    </li>
{% endblock %}

{% block content_left %}
    <div class="panel panel-skin" ng-controller="Data">
            <div class="panel-heading">
                <div class="panel-title">
                   Сертификат #{{ object.id }}
                    <a class="btn btn-sm btn-danger pull-right"
                          href="{% url 'certificate_pdf' pk=object.id %}" )>
                        <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        <div class="panel-body">

            <div clas="row">

                <div class="col-md-6 form-group">
                    <label>ФИО клиента</label>
                    <input disabled="false" class="form-control" value="{{ object.patient.name }}">
                </div>

                <div class="col-md-3 form-group">
                    <label>Возраст</label>
                    <input disabled="false" class="form-control" value="{{ object.patient.age }}">
                </div>

                <div class="col-md-3 form-group">
                    <label>Пол</label>
                    <input disabled="false" class="form-control" value="{{ object.patient.get_sex_display }}">
                </div>

                <div class="col-md-6 form-group">
                    <label>Серия паспорта</label>
                    <input disabled="false" class="form-control" value="{{ object.patient.passport_series }}">
                </div>

                <div class="col-md-3 form-group">
                    <label>Номер паспорта</label>
                    <input disabled="false" class="form-control" value="{{ object.patient.passport_number }}">
                </div>

                <div class="col-md-3 form-group">
                    <label>Дата выдачи</label>
                    <input disabled="false" class="form-control" value="{{ object.patient.setter_date }}">
                </div>

                <div class="col-md-12 form-group">
                    <label>Паспорт выдан</label>
                    <input disabled="false" class="form-control" value="{{ object.patient.setter_org }}">
                </div>


                <div class="col-md-3 form-group">
                    <label>Номер сертификата</label>
                    <input disabled="false" class="form-control" value="СР-{{ object.id }}">
                </div>

                <div class="col-md-3 form-group">
                    <label>Статус</label>
                    <input disabled="false" class="form-control" value="{{ object.get_status_display }}">
                </div>

                <div class="col-md-3 form-group">
                    <label>Начало</label>
                    <input disabled="false" class="form-control" value="{{ object.date_start }}">
                </div>

                <div class="col-md-3 form-group">
                    <label>Окончание</label>
                    <input disabled="false" class="form-control" value="{{ object.date_end }}">
                </div>

                <div class="col-md-12 form-group">
                    <label>Направлен в</label>
                    <input disabled="false" class="form-control" value="{{ object.social_service }}">
                </div>
                <div class="col-md-12">
                    <table class="table table-hover table-striped">
                        <thead>
                        <th>Шаг</th>
                        <th>Наименование</th>
                        <th>Статус</th>
                        <th>Действия</th>
                        </thead>
                        {% for step in object.get_steps %}
                            <tr>
                                <td>{{ step.step }}</td>
                                <td>{{ step.get_step_display }}</td>
                                <td>{{ step.get_status_display }} </td>
                                <td>
                                    {% if step.can_close and user.profile.organization == object.social_service.org %}
                                        <form method="POST" action="{{ step.get_close_url }}">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-sm btn-green"
                                                   value="Погасить">
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-12">
                {% if user.is_superuser %}
                    <a class="btn btn-green" href="{% url 'certificate_edit' pk=object.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                {% endif %}
                <div class="collapsing">
                    <modal title="Изменение" visible="showMe">
                        <div bind-unsafe-html="form">

                        </div>
                    </modal>
                </div>
            </div>
        </div>
    </div>
{% endblock %}