{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="well col-md-8 col-md-offset-2">
            <form method="POST" action="{%  url 'step_close' pk=object.pk  %}">
                {% csrf_token %}
                <div class="form-group">
                <h4>СР-{{ object.certificate.id }}</h4>
                <p><strong>Пациент:</strong>{{ object.certificate.patient.name }}</p>
                <p><strong>Учреждение:</strong>{{ object.certificate.social_service.name }}</p>
                Погасить {{ object.step }} купон?
                </div>
                <input type="submit" class="btn btn-primary" value="Погасить">
                <a class="btn btn-danger" href="{%  url 'certificate_detail' pk=object.certificate.pk  %}">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}

