<div class="collapsing">
    <modal cls='modal-sm' title="Авторизация" visible="showModal">
        <form role="form" ng-controller="auth" method="POST" action="{% url 'login_html' %}?next={{ request.get_full_path }}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" class="alert-danger"
                         ng-if="error">{% verbatim %}{{ error }}{% endverbatim %}
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">
                              <i class="glyphicon glyphicon-user"></i>
                          </span>
                            <input class="form-control" placeholder="Введите имя пользователя" name="username"
                                   id="username" type="text" ng-model="auth.username" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">
                              <i class="glyphicon glyphicon-lock"></i>
                          </span>
                            <input class="form-control" placeholder="Введите ваш пароль" name="password" type="password"
                                   id="password" ng-model="auth.password" value="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" {# ng-click="sbm();" #} class="btn btn-lg btn-success btn-block" value="Вход">
                            Вход
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </modal>
</div>