{% extends 'profile/profile_content.html' %}
{% load l10n %}
{% block nav %}
    {% url 'orgs' as orgs_url %}
    <ol class="breadcrumb">
        <li><a href="/">Система</a></li>
        <li><a href="{% url 'orgs' %}">Организации</a></li>
        <li class="active">{{ object.name }}</li>
    </ol>
{% endblock %}
{% block content_full %}
    <div ng-controller="Data">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-skin" ng-controller="Data">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Общая информация
                                </div>
                            </div>
                            <div class="panel-body">
                                <h4 style="margin-top:0px;">
                                    <b>{{ object.name }}</b>
                                </h4>

                                <p><b>Полное наименование: </b> {{ object.full_name }}</p>

                                <p><b>Адрес организации: </b> {{ object.address }}
                                {% if object.index %}<p><b>Индекс: </b> {{ object.index }}</p>{% endif %}
                                <hr>
                                <h4><b>Контактная информация</b></h4>
                                {% if object.phone %}
                                    <p><b>Телефон: </b><a href="tel:{{ object.phone }}">{{ object.phone }}</a>
                                    </p>{% endif %}
                                {% if object.fax %}<p><b>Факс: </b> {{ object.fax }}</p>{% endif %}
                                {% if object.site %}<p><b>Веб-сайт: </b> <a target="_blank"
                                                                           href="{{ object.site }}">{{ object.site }}</a>
                                </p> {% endif %}
                                {% if object.mail %}<p><b>Электронная почта:</b> <a
                                        href="mailto:{{ object.mail }}">{{ object.mail }}</a></p>{% endif %}
                                <hr>
                                <h4><b>Описание организации</b></h4>

                                <p>{{ object.description | linebreaks }}
                            </div>
                        </div>
                        {% if object.profile_set.exists %}
                        <div class="panel panel-skin" ng-controller="Data">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Специалисты
                                </div>
                            </div>

                            <div class="panel-body">
                                {% for user in object.profile_set.all %}
                                    <div class="person" style="min-height: 200px;">
                                        <div class="col-xs-12">
                                        <div class="col-lg-3 col-md-3 col-sm-12">
                                            <div class="profile-avatar">
                                                <img class="img-circle img-responsive" src="{{ user.get_mugshot_url }}" alt="profile picture">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-12">
                                            <div class="user-name">
                                                <strong> {{ user.user.get_full_name }} </strong> &nbsp; {% if user.position %}
                                                <span class="label label-success">{{ user.position }}</span>{% endif %}
                                                <br>{{ user.organization }}
                                            </div>
                                            <div class="user-information">
                                                <p>{{ user.specialization }}</p>
                                            </div>
                                            <ul class="profile-info">
                                                {% if user.phone %}
                                                    <li><i class="glyphicon glyphicon-phone"></i> {{ user.phone }}</li>
                                                {% endif %}
                                                {% if user.mail %}
                                                    <li><i class="glyphicon glyphicon-envelope"></i> {{ user.mail }}</li>
                                                {% endif %}
                                                {% if user.time_work %}
                                                    <li><i class="glyphicon glyphicon-time"></i> {{ user.time_work }}</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                        {% endif %}
                        <div class="panel panel-skin" ng-controller="Data">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Организация на карте
                                </div>
                            </div>
                            <div style="width:100%; height:500px"
                                ng-init="getData('{% url 'jsonSocialService' %}?organization={{object.pk}}')">
                                {% localize off %}
                                    <yandex-map center="[{{ object.coor_x }},{{ object.coor_y }}]" zoom=15>
                                        <ymap-marker    coordinates="[{{ object.coor_x }},{{ object.coor_y }}]"
                                                        options="{preset: 'islands#icon', iconColor: '#2aff00'}"
                                                        properties="{balloonContent: '{{ object.name }}'}"></ymap-marker>
                                        {% verbatim %}
                                        <ymap-marker    ng-repeat="marker in data | filter: query | filter: type"
                                                        options="{preset: 'islands#icon', iconColor: '#f40f0f'}"
                                                        coordinates="[marker.coor_x, marker.coor_y]"
                                                        properties="{balloonContent: marker.name,
                                                                      clusterCaption:  marker.name }"></ymap-marker>
                                        {% endverbatim %}
                                        <div class="legend">
                                            <li><span class="glyphicon glyphicon-map-marker" style="color:#2aff00"></span> - {{ object.name }}</li>            
                                            <li ng-show="data.length>0"><span class="glyphicon glyphicon-map-marker" style="color:#f40f0f"></span> - Подразделения</li>
                                        </div>
                                    </yandex-map>
                                {% endlocalize %}

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-skin">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Сводная информация
                                </div>
                            </div>
                            <div class="panel-body">
                                <p><b>Добавлена:</b> {{ object.created }}</p>

                                <p><b>Последняя правка:</b> {{ object.changed }}</p>

                                <p><b>UUID:</b> {{ object.uuid }} </p>

                                <p><b>Статус:</b> {{ object.get_status_display }}</p>
                            </div>
                        </div>
                        <div class="panel panel-skin">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Регистрационные данные
                                </div>
                            </div>
                            <div class="panel-body">
                                <p><b>Форма:</b> {{ object.type.name }}</p>
                                <p><b>Руководитель:</b> {{ object.chief }}</p>
                                <p><b>ИНН:</b> {{ object.inn }}</p>
                                <p><b>ОГРН:</b> {{ object.orgn }}</p>
                            </div>
                        </div>
                        {% if object.socialservice_set.all %}
                            <div class="panel panel-skin">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Подразделения
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>Наименования подразделения</th>
                                            <th>Тип</th>
                                            <th>Адрес</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for socialservice in object.socialservice_set.all %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    <a href='{% url 'social_service_detail' pk=socialservice.pk %}'>{{ socialservice.name }}</a>
                                                </td>
                                                <td>{{ socialservice.type }}</td>
                                                <td>{{ socialservice.address }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="5">Подразделений не найдено</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.ms_set.all %}
                            <div class="panel panel-skin">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                         Мобильные службы
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>Наименования мобильных служб</th>
                                            <th>Тип</th>
                                            <th>Маршрут</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for socialservice in object.ms_set.all %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    <a   href='{% url 'ms_detail'  pk=socialservice.pk %}'>{{ socialservice.name }}</a>
                                                </td>
                                                <td>{{ socialservice.type }}</td>
                                                <td>
                                                    <ul class="list-unstyled">
                                                        {% for point in socialservice.routems_set.all %}
                                                            <li>
                                                                {{ point.address }}
                                                            </li>
                                                        {% empty %}
                                                            <li>
                                                                Маршрут не добавлен
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="5">Мобильных служб не найдено</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.license_set.all %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Наличие лицензий
                                </div>
                                <div class="panel-body">
                                    {% for license in object.license_set.all %}
                                        <p><b>Лицензия: </b>{{ license.type.name }}</p>
                                        <p><b>Дата выдачи: </b>{{ license.setter_date }}</p>
                                        <p><b>Организация: </b>{{ license.setter_org }}</p>
                                        <p><b>Номер лицензии: </b>{{ license.number }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}