{% extends 'profile/profile_content.html' %}

{% block nav %}
    <li>
        <ol class="breadcrumb">
            <li><a href="/">Система</a></li>
            <li class="active">Календарь мероприятий</a></li>
        </ol>
    </li>
{% endblock %}

{% block content_full %}

    <div class="panel panel-skin" ng-controller="Data">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ title }}
                </div>
            </div>
        <div class="panel-body">
            <table class="table table-hover table-striped" ng-init="getData('{% url 'jsonEvent' %}')">
                <thead>
                <tr>
                    <th>№</th>
                    <th ng-click="sort('date')">Дата и время</th>
                    <th ng-click="sort('name')">Название мероприятия</th>
                    <th ng-click="sort('org')">Организатор мероприятия</th>
                    <th ng-click="sort('address')">Место проведения</th>
                    <th>Категория участников</th>
                    <th>Дополнительная информация</th>
                </tr>
                </thead>
                <tbody>
                {% verbatim %}
                <tr ng-repeat="event in data | orderBy:orderProp:sortReverse | filter: query | filter: districts | filter: type">
                    <td><a href="/event/{{ event.id }}">{{ $index+1 }}</a></td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.org }}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.participant }}</td>
                    <td>{{ event.description }}</td>
                </tr>
                {% endverbatim %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}