{% extends 'profile/profile_content.html' %}
{% block nav %}
    <li>
        <ol class="breadcrumb">
            <li><a href="/">Система</a></li>
            <li class="active">Сводная таблица свободных мест</a></li>
        </ol>
    </li>
{% endblock %}

{% block content_left %}
    <div class="panel panel-skin" ng-controller="Data">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ title }}
                </div>
            </div>
        <div class="panel-body">
            <table class="table table-hover table-striped" ng-init="getData('{% url 'jsonSeat' %}')">
                <thead>
                <tr>
                    <th>№</th>
                    <th ng-click="sort('name')">Подразделение</th>
                    <th ng-click="sort('woman')">Места для женщин</th>
                    <th ng-click="sort('men')">Места для мужчин</th>
                    <th ng-click="sort('all')">Общее количество свободных мест</th>
                    <th ng-click="sort('date')">Обновлено</th>
                </tr>
                </thead>
                <tbody>
                {% verbatim %}
                <tr ng-repeat="seat in data  | orderBy:orderProp:sortReverse | filter: query | filter: districts | filter: type">
                    <td>{{ $index+1 }}</td>
                    <td>{{ seat.name }}</td>
                    <td>{{ seat.men }}</td>
                    <td>{{ seat.woman }}</td>
                    <td>{{ seat.all }}</td>
                    <td>{{ seat.date }}</td>
                </tr>
                {% endverbatim %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}