{% extends 'profile/profile_content.html' %}
{% load l10n %}
{% block nav %}
    {% url 'profile' as profile_url %}
    {% url 'profile_service' as profile_service_url %}
    {% url 'profile_seat' as profile_seat_url %}
    {% url 'profile_event' as profile_event_url %}
    <ol class="breadcrumb">
        <li><a href="/">Система</a></li>
        {% if request.get_full_path == profile_service_url %}
        <li><a href="{{ profile_url }}">Личный кабинет</a></li>
        <li class="active">Услуги</li>
        {% elif request.get_full_path == profile_seat_url %}
        <li><a href="{{ profile_url }}">Личный кабинет</a></li>
        <li class="active">Места</li>
        {% elif request.get_full_path == profile_event_url %}
        <li><a href="{{ profile_url }}">Личный кабинет</a></li>
        <li class="active">Мероприятия</li>
        {% else %}
        <li class="active">Личный кабинет</li>
        {% endif %}
    </ol>
{% endblock %}
{% block content_left %}
    {% url 'add_seat' as add_seat_url %}
    {% url 'add_event' as add_event_url %}
    {% url 'profile' as profile_url %}
    {% url 'profile_service' as profile_service_url %}
    {% url 'profile_seat' as profile_seat_url %}
    {% url 'profile_event' as profile_event_url %}
        <div class="row" ng-controller="Profile">
            {% if not object.organization %}
                <h2>К Вашему профилю не привязана организация :(</h2>
            {% else %}
                <div class="col-md-9">
                    <div class="tab-content">
                        {% if request.get_full_path == profile_url %}
                            <!-- ПРОФИЛЬ -->

                        {% endif %}
                        {% if request.get_full_path == profile_service_url %}
                            <!-- УСЛУГИ -->

                        {% endif %}
                        {% if request.get_full_path == profile_seat_url %}
                            <!-- МЕСТА -->

                        {% endif %}

                        {% if request.get_full_path == profile_event_url %}
                            <!-- КАЛЕНДАРЬ -->
                        {% endif %}
                        <div class="collapsing">
                            <modal title="Изменение" visible="showMe">
                                <div bind-unsafe-html="form">

                                </div>
                            </modal>
                        </div>


                    </div>
                </div>
            {% endif %}
        </div>
{% endblock %}
