{% extends 'profile/profile_content.html' %}
{% load  pytils_dt %}
{% block nav %}
    <ol class="breadcrumb">
        <li><a href="/">Система</a></li>
        <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
        <li class="active">Сведения о местах</li>
    </ol>
{% endblock %}

{% block content_full %}
    <div class="panel panel-skin">
            <div class="panel-heading">
                <div class="panel-title">
                    Сведения о свободных местах
                    <a class="btn btn-sm btn-danger pull-right"
                       href="{% url 'add_seat_form' %}">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </a>
                </div>
            </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Наименования подразделения</th>
                    <th>Количество мест для женщин</th>
                    <th>Количество мест для мужчин</th>
                    <th>Общее количество мест</th>
                    <th>Дата обновления</th>
                </tr>
                </thead>
                <tbody>
                {% for socialservice in object.organization.service_with_seat %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>{{ socialservice.name }}</td>
                        {% if socialservice.last_seats %}
                            <td>{{ socialservice.last_seats.seats_for_men }}</td>
                            <td>{{ socialservice.last_seats.seats_for_woman }}</td>
                            <td>{{ socialservice.last_seats.seats }}</td>
                            <td>{{ socialservice.last_seats.created  | ru_strftime:"%d %B %Y" }}</td>
                        {% else %}
                            <td colspan="4">Нет информации о сводных местах</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}