{% extends 'profile/profile_content.html' %}

{% block nav %}
    <ol class="breadcrumb">
        <li><a href="/">Система</a></li>
        <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
        <li class="active">Мероприятия</li>
    </ol>
{% endblock %}

{% block content_full %}
        <div class="panel panel-skin">
            <div class="panel-heading">
                <div class="panel-title">
                    Сведения о мероприятиях
                <a class="btn btn-sm btn-danger pull-right" href="{% url 'add_event_form' %}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Дата и время</th>
                        <th>Название мероприятия</th>
                        <th>Адрес проведения</th>
                        <th>Категория участников</th>
                        <th>Дополнительная информация</th>
                        <th>Редактировать</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td scope="row"><a href="{% url 'event_detail' pk=event.id %}">{{ forloop.counter }}</a>
                            </td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.name }}</td>
                            <td>{{ event.address }}</td>
                            <td>{{ event.participant }}</td>
                            <td>{{ event.description }}</td>
                            <td>
                                <a href="{% url 'edit_event' pk=event.pk %}" class="btn btn-green">
                                    <span class="glyphicon glyphicon-pencil"> </span> Редактировать
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}