{% extends 'base.html' %}
{% load bootstrap3 %}
{% load l10n %}
{% block nav %}
    {% url 'profile' as profile_url %}
    <ol class="breadcrumb">
        <li><a href="/">Система</a></li>
        <li><a href="{{ profile_url }}">Личный кабинет</a></li>
        {% if object %}
        <li class="active">Редактировать подразделение</li>
        {% else %}
        <li class="active">Добавить подразделение</li>
        {% endif %}

    </ol>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" ng-controller="Profile">
            {% include 'profile/nav.html' %}
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if not object %}
                        <h3>Добавить новое подразделение</h3>
                        {% else %}
                        <h3>Редактировать подразделение</h3>
                        {% endif %}
                        <hr>
                        <form action="{{ request.get_full_path }}" method="POST">
                            {% csrf_token %}
                            {% bootstrap_formset form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    Сохранить
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}