
{% load bootstrap3 %}
<div ng-controller="PostForm">
  <div ng-show="formActive">
  <form role="form" method="POST">{% csrf_token %}
    <input type="hidden" ng-init="form.csrfmiddlewaretoken='{{csrf_token}}';">
    {% if form %}
        {% bootstrap_form form %}
    {% endif %}
         <div class="panel" ng-init="error='false'" ng-if="error">
          <div class="panel-body bg-danger">
          
              Форма заполнена некорректно!
          
          </div>
        </div>
        <button ng-click="sbm('{{ request.get_full_path }} ')" class="btn btn-primary">Сохранить</button>
      </form>
    </div>
    <div class="panel-body panel" ng-show="!formActive">
     <p class="lead">Данные сохранены</p>
    </div>
</div>