{% extends 'profile/profile_content.html' %}

{% block nav %}
    <li>
        <ol class="breadcrumb">
            <li><a href="/">Система</a></li>
            <li><a href="{% url 'blank_list' %}">Учетные карточки</a></li>
            <li><a href="{% url 'blank_detail' pk=object.blank.pk %}">{{ object.blank }}</a></li>
            <li class="active">{{ object }}</li>
        </ol>
    </li>
{% endblock %}

{% block content_left %}
    <div class="panel panel-skin" ng-controller="Data">
        <div class="panel-heading">
            <div class="panel-title">
                {{ object }}
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-body">

            </div>
            <div class="col-md-8 form-group">
                <label>ФИО клиента</label>
                <input disabled="false" class="form-control" value="{{ object.blank.patient.name }}">
            </div>
            <div class="col-md-4 form-group">
                <label>Карта</label>
                <input disabled="false" class="form-control" value="{{ object.blank }}">
            </div>
            <div class="col-md-12 form-group">
                <label>Наименование услуги</label>
                <input disabled="false" class="form-control" value="{{ object.service.name }}">
            </div>
            <div class="col-md-6 form-group">
                <label>Дата начала</label>
                <input disabled="false" class="form-control" value="{{ object.date_start }}">
            </div>
            <div class="col-md-6 form-group">
                <label>Дата окончания</label>
                <input disabled="false" class="form-control" value="{{ object.date_end }}">
            </div>
            <div class="col-md-6 form-group">
                <label>Форма оказания услуги</label>
                <input disabled="false" class="form-control" value="{{ object.service.form_of_provision }}">
            </div>
            <div class="col-md-12">
                <table class="table">
                    <caption>Факт получения услуги</caption>
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Статус</th>
                        <th>Место проведения</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in object.blankservice_set.all %}
                        <tr>
                            <td>{{ service.date }}</td>
                            <td>{{ service.get_status_display }}</td>
                            <td>{{ service.place }}</td>
                        </tr>
                    {% empty %}
                        <td colspan="3">Услуг не найдено</td>
                    {% endfor %}
                    </tbody>
                </table>
                {% if request.user == object.user %}
                    {% if object.status != 1 %}
                        <a href="{% url 'blank_add_service' blank=object.blank.pk pk=object.pk %}" class="btn btn-green">Добавить факт оказания услуги</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}