{% extends 'base.html' %}
{% load bootstrap3 %}
{% block nav%}
<li>
    <ol class="breadcrumb navbar-default">
        <li><a href="/">Система</a></li>
        <li class="active">Электронная система перенаправления клиентов</li>
    </ol>
</li>
{% endblock %}
{% block content %}
{% include 'standart/nav.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 vision_full">
                <h4 class="text-center">Система перенаправления клиентов</h4>
                    <div class="panel panel-default">
                        <div class="panel-body">
                        {{ object.text_1 | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 vision_full">
                    {% if not success %}
                        <h4 class="text-center">Оставить заявку</h4>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <input type="submit" value="Отправить" class="btn btn-success">
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <h3 class="text-center">Заявка успешно отправлена</h3>
                    {% endif %}
                </div>
                
        </div>
    </div>
</div>
</div>
    {% endblock%}