{% extends 'base.html' %}

{% block nav%}
<li>
    <ol class="breadcrumb navbar-default">
        <li><a href="/">Система</a></li>
        <li class="active">Учебно-методический отдел</li>
    </ol>
</li>
{% endblock %}
{% block content %}
{% include 'standart/nav.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7 vision_full">
                <h4 class="text-center">Городской информационно-методический центр “Семья”</h4>
                     <div class="panel panel-default">
                        <div class="panel-body">
                            {{ object.text_1 | safe }}
                        </div>
                    </div>
                    <div class="panel panel-default">
                    <div class="panel-body">

                        {{ object.text_2 | safe }}

                        <div style="width:100%; height:300px; margin-top:10px;">
                                <yandex-map  center="[59.92349076, 30.30920250]" zoom=15>
                                    <ymap-marker coordinates="[59.92349076, 30.30920250]" options="{preset: 'islands#icon', iconColor: '#0095b6'}" properties="{balloonContent:'Городской информационно-методический центр “Семья”'}"></ymap-marker>
                                </yandex-map>
                            </div>
                    </div>
                </div>
                </div>
                <div class="col-md-5 vision_full">
                    <h4 class="text-center">Наши сотрудники</h4>
                    {% for person in personal %}
                     <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    {% if person.thumbnail %}
                                    <img src="{{ person.thumbnail_md.url }}" class="img-responsive">
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    <p class="lead">{{ person.name }}</p>
                                    <p><b>Должность:</b> {{ person.get_position_display }}
                                    <br><b>Телефон:</b> {{ person.phone }}
                                    <br><b>E-mail:</b> <a href="mailto:{{ person.mail }}">{{ person.mail }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>



    </div>
</div>
</div>
    {% endblock%}