{% load bootstrap3 %}
<div ng-controller="Data" {% if wizard.form.errors %} ng-init="new_client=1;"{% endif %}>
    <form name="form" action="" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    {% if client %}
        <div class="alert alert-info" role="alert">
            <strong>Клиент: </strong>
                {% if client.first_name %}
                     {{ client.first_name}} {{ client.middle_name}}  {{ client.last_name}}
                {% elif client.name %} {{ client.name }}


                {% endif %}
        </div>
        <hr>
    {% endif %}

        {% if wizard.steps.current == "add_client" %}

            <div class="form-group" ng-if="!new_client" show-errors>
                <label for="{{ wizard.form.client_code.name }}">{{ wizard.form.client_code.label }}</label>
                {{ wizard.form.client_code }}
            </div>

            <div ng-if="new_client">
                {% bootstrap_field form.name %}
            </div>
        <input type="button" ng-click="new_client=!new_client;" class="btn btn-green" value="Выбрать клиента" ng-show="new_client"/>
        <input type="button" ng-click="new_client=!new_client;" class="btn btn-green" value="Новый клиент" ng-show="!new_client"/>
        {% elif wizard.steps.current == "add_passport"  %}
            <div class="form-group" ng-if="!new_client" show-errors>
                <label for="{{ wizard.form.client_code.name }}">{{ wizard.form.client_code.label }}</label>
                {{ wizard.form.client_code }}
            </div>

            <div ng-if="new_client">
                {% bootstrap_field form.first_name %}
                {% bootstrap_field form.middle_name %}
                {% bootstrap_field form.last_name %}
                {% bootstrap_field form.sex %}
                {% bootstrap_field form.birth_date %}
                {% bootstrap_field form.passport_series %}
                {% bootstrap_field form.passport_number %}
                {% bootstrap_field form.setter_date %}
                {% bootstrap_field form.setter_org %}
            </div>
        <input type="button" ng-click="new_client=!new_client;" class="btn btn-green" value="Выбрать клиента" ng-show="new_client"/>
        <input type="button" ng-click="new_client=!new_client;" class="btn btn-green" value="Новый клиент" ng-show="!new_client"/>
        {% elif wizard.steps.current == 'add_consultation' %}
                <div class="form-group" show-errors="">
                                <label for="{{ form.data.name }}">{{ form.date.label }}</label>
                                {{ form.date }}
                                <p class="help-block" ng-show='!main.data'>Введите корректное значение</p>
                            </div>

                            <div class="form-group" show-errors="">
                                <label for="{{ form.specialist.name }}">{{ form.specialist.label }}</label>
                                {{ form.specialist }}
                                <p class="help-block" ng-show='!main.specialist'>Введите корректное значение</p>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.treatment.name }}">{{ form.treatment.label }}</label>
                                {{ form.treatment }}
                            </div>

                            <div class="checkbox">
                                <label>
                                    </b>{{ form.primary_treatment }}
                                    <b>{{ form.primary_treatment.label }}</b>
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    </b>{{ form.primary_treatment_org }}
                                    <b>{{ form.primary_treatment_org.label }}</b>
                                </label>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.result_info.name }}">{{ form.result_info.label }}</label>
                                {{ form.result_info }}
                            </div>

                            <div class="checkbox">
                                <br><b>Предоставлена информация</b>
                                <br><label>
                                </b>{{ form.additional_info_1 }}
                                <b>{{ form.additional_info_1.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_2 }}
                                <b>{{ form.additional_info_2.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_3 }}
                                <b>{{ form.additional_info_3.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_4 }}
                                <b>{{ form.additional_info_4.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_5 }}
                                <b>{{ form.additional_info_5.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_6 }}
                                <b>{{ form.additional_info_6.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_7 }}
                                <b>{{ form.additional_info_7.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_8 }}
                                <b>{{ form.additional_info_8.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_9 }}
                                <b>{{ form.additional_info_9.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_10 }}
                                <b>{{ form.additional_info_10.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_11 }}
                                <b>{{ form.additional_info_11.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.additional_info_12 }}
                                <b>{{ form.additional_info_12.label }}</b>
                            </label>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.description.name }}">{{ form.description.label }}</label>
                                {{ form.description }}
                            </div>

                            <div class="checkbox">
                                <br><b>Рекомендуется обратится к следующим специалистам</b>
                                <br><label>
                                </b>{{ form.specialist_1 }}
                                <b>{{ form.specialist_1.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.specialist_2 }}
                                <b>{{ form.specialist_2.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.specialist_3 }}
                                <b>{{ form.specialist_3.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.specialist_4 }}
                                <b>{{ form.specialist_4.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.specialist_5 }}
                                <b>{{ form.specialist_5.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.specialist_6 }}
                                <b>{{ form.specialist_6.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.specialist_7 }}
                                <b>{{ form.specialist_7.label }}</b>
                            </label>
                                <br><label>
                                </b>{{ form.specialist_8 }}
                                <b>{{ form.specialist_8.label }}</b>
                            </label>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.specialist_text.name }}">{{ form.specialist_text.label }}</label>
                                {{ form.specialist_text }}
                            </div>

                            <div class="form-group" ng-show="!from_social_service">
                                <label for="{{ form.from_social_service.name }}">{{ form.from_social_service.label }}</label>&nbsp
                                <a href="" class="pull-right">
                                    <small ng-click="from_social_service=!from_social_service;">Другое место</small>
                                </a>
                                {{ form.from_social_service }}
                            </div>

                            <div class="form-group" ng-show="from_social_service">
                                <label for="{{ form.from_social_service_text.name }}">{{ form.from_social_service_text.label }}</label>
                                <a href="" class="pull-right" ng-click="from_social_service=!from_social_service;">
                                    <small>Выбрать из существующих</small>
                                </a>
                                {{ form.from_social_service_text }}
                            </div>

                            <div class="form-group" ng-show="!sent_to">
                                <label for="{{ form.sent_to.name }}">{{ form.sent_to.label }}</label>&nbsp
                                <a href="" class="pull-right">
                                    <small ng-click="sent_to=!sent_to;">Другое место</small>
                                </a>
                                {{ form.sent_to }}
                            </div>

                            <div class="form-group" ng-show="sent_to">
                                <label for="{{ form.sent_to_text.name }}">{{ form.sent_to_text.label }}</label>
                                <a href="" class="pull-right" ng-click="sent_to=!sent_to;">
                                    <small>Выбрать из существующих</small>
                                </a>
                                {{ form.sent_to_text }}
                            </div>
        {% else %}
            {% bootstrap_form form %}
        {% endif %}
    <input ng-disabled="form.$invalid" type="submit" class="btn btn-green  pull-right" value="Далее"/><br>
    </form>
</div>